body{
    margin:0px;
    background-color: #f6f6f6;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.box{
    background-color: #fff;
    border: 1px solid #d6d6d6;
    width: 600px;
    border-radius: 8px;
    position: absolute;
}

.header{
    text-align: center;
   
}

.mtop16{
    margin-top: 16px;
}

.btn-success{
    width: 100%;
}

.box_login{    
    left: calc(50% - 269px);
    top: calc(50% - 196px);
}

.box_register{
    left: calc(50% - 250px);
    top: calc(50% - 279px);
}

.inside{
    padding: 16px;
}

.logo{
    width: 40%;
    display: block;
    margin: 0px auto;
}

.footer{
    text-align: center;
    font-size: 1em;
}

.registarse{
    text-align: center;
}